.App {
  text-align: center;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: rgb(31, 33, 46);
  background-image: url("../img/black-paper.png");
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.container {
  width: 20%;
  height: inherit;
}

h3 {
  padding: 0;
  margin: 0;
}
