.home {
	display: flex;
	flex-direction: column;
	margin-left: 20vw;
}

ul {
	list-style-type: none;
	padding: 0;
}

.dropdown-buttons {
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	box-sizing: border-box;
}

.column {
	width: 33.33%;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-content: center;
}

.visible {
	opacity: 1;
	transform: scaleY(1);
	max-height: 600px;
	transition: max-height 1s ease, transform 0.5s ease, opacity 1s ease;
	transform-origin: top;
}

.visually-hidden {
	opacity: 0;
	transform: rotate(360deg);
	transform: scaleY(0);
	max-height: 0px;
	transition: max-height 1s ease, transform 0.5s ease, opacity 1s ease;
	transform-origin: top;
}

.hidden {
	display: none;
}

.fade {
	max-height: 0px;
	opacity: 0;
	transition: opacity 1s ease, max-height 3s;
}

.error-display {
	max-height: 100px;
	opacity: 1;
	transition: opacity 2s ease, max-height 0.5s;
}

h3 {
	font-size: clamp(1rem, 3vw, 2rem);
}

.main-footer {
	width: 100%;
	max-height: 50px;
	background-color: rgb(196, 197, 218);
	position: sticky;
	margin-top: auto;
	background-image: url("../assets/black-linen.png");
}

h5 {
	font-size: 1rem;
	font-weight: bold;
	color: rgb(31, 33, 46);
	margin: 10px;
}

.content {
	width: 90%;
	flex-grow: 1;
	padding: 10px;
	transform: scaleY(1);
	border-radius: 10px;
	background-color: rgb(31, 33, 46);
	margin: 0 5% 40px;
	box-shadow: 5px 5px 10px black;
	transition: all 1s ease;
	/* background-image: url("../assets/black-linen.png"); */
	box-sizing: border-box;
}

.content p {
	font-size: 1.5rem;
	color: rgb(196, 197, 218);
	font-weight: bold;
	text-align: left;
	margin: 0 auto 10px;
}

.contact-form {
	display: flex;
}

.contact-info {
	display: flex;
}

.form-group {
	display: flex;
	flex-direction: column;
	min-width: 50%;
}

.form-group textarea {
	height: 300px;
}

.form-control {
	min-height: 20px;
	background-color: rgb(196, 197, 218);
	font: inherit;
	font-weight: 600;
}

label {
	color: #d67600;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: left;
	margin-left: 10px;
}

.form-control {
	display: block;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
}

.btn {
	width: 200px;
	font: inherit;
	font-weight: bold;
	background-color: #d67600;
	border-radius: 5px;
	color: rgb(196, 197, 218);
	border: none;
	box-shadow: 0 0 10px black;
	transition: all 0.5s ease;
}

.btn:hover {
	background-color: rgb(196, 197, 218);
	cursor: pointer;
	color: #d67600;
	transition: all 0.5s ease;
}

.error-msg {
	color: white;
	background-color: rgba(221, 99, 99, 0.514);
	padding: 10px;
	border-radius: 10px;
}

.success-msg {
	color: white;
	background-color: rgba(144, 221, 99, 0.514);
	padding: 10px;
	border-radius: 10px;
}

h4 {
	margin: auto;
}

a {
	text-decoration: none;
	color: rgb(196, 197, 218);
}

.card a:hover {
	text-decoration: underline;
	color: #d67600;
}

.cards {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.card {
	/* background-color: rgb(51, 48, 68); */
	background-image: url("../assets/black-paper.png");
	padding: 20px;
	border-radius: 5px;
	/* max-width: 80%; */
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	margin-top: 10px;
	transition: all 0.5s ease;
}

.img-container {
	height: 250px;
	min-width: 250px;
	max-width: 250px;
	margin-right: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	overflow: hidden;
	background-color: white;
}

.img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: auto;
}

.scc {
	max-width: 200px;
}

h3 {
	text-align: left;
	color: #d67600;
}

a > h3:hover {
	text-decoration: underline;
}

.resume {
	color: rgb(196, 197, 218);
	text-align: left;
	font-size: 1.5rem;
	font-weight: bold;
}

.resume ul {
	list-style: circle;
	margin: 10px 10px 10px 30px;
}

.resume h3 {
	font-size: 2.5rem;
}

.resume h4 {
	font-size: 1.75rem;
	color: #d67600;
}

.card-col {
	flex-direction: column;
}

.card-col h3 {
	margin-top: 20px;
}

a > .card:hover {
	background-color: #d67600;
	transition: all 0.5s ease;
}

.skill-card {
	background-color: rgb(31, 33, 46);
	padding: 15px;
	border-radius: 10px;
	margin-top: 20px;
}

@media only screen and (max-width: 740px) {
	.home {
		margin-left: 0;
	}

	.dropdown-buttons {
		flex-direction: column;
	}

	.main-content {
		flex-wrap: wrap;
		flex-flow: column;
		justify-content: center;
		align-content: center;
		padding: 10px 5px 10px;
		width: 100%;
	}

	.column {
		min-width: 100%;
	}

	.content {
		padding: 10px;
		margin: 5px 5px 10px;
		/* display: flex; */
		/* width: 100%; */
		flex: 1;
	}

	.content h3 {
		font-size: 1.5rem;
	}

	.contact-info {
		flex-direction: column;
	}

	.content p {
		font-size: 1rem;
		margin: 5px 0;
	}

	.card {
		flex-direction: column;
	}

	.card h3 {
		margin-top: 10px;
	}

	.card p {
		padding: 0;
		margin: 5px 0;
	}

	.img-container {
		max-width: 100%;
		max-height: 100%;
		margin: auto;
	}

	.img-container img {
		margin: auto;
		max-height: 100%;
		object-fit: cover;
	}

	.resume {
		color: rgb(196, 197, 218);
		text-align: left;
		font-size: 1rem;
		font-weight: bold;
	}

	.resume h3 {
		font-size: 1.5rem;
	}

	.resume h4 {
		font-size: 1.25rem;
		color: #d67600;
	}
}
