.sidebar {
    background-color: rgb(31, 33, 46);
    width: 20%;
    height: 100%;
    padding: 25px;
    /* display: inline; */
    /* position: sticky; */
    box-shadow: 5px 0px 40px -10px black;
    z-index: 10;
    /* background-image: url("../assets/black-linen.png"); */
    position: fixed;
    top: 0;
    box-sizing: border-box;
}

.profile-img {
    width: 100%;
    margin: 0 auto;
    padding-top: 100%;
    position: relative;
}

.profile-img:hover {
    cursor: pointer;
}

h1 {
    font-size: 2.5rem;
    color: #d67600;
    margin: 0 auto;
}

h2 {
    font-size: 1.5rem;
    color: rgb(196, 197, 218);
    margin: 0 auto;
}

.sidebar p:first-of-type {
    color: rgb(196, 197, 218);
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.location-p {
    color: #d67600;
    font-weight: bold;
    font-size: 1rem;
    margin: 0 auto;
}

.profile-img img {
    object-fit: cover;
    height: 80%;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 7px solid rgb(196, 197, 218);
    box-shadow: 0 0 20px black;
    transition: all 200ms ease;
}

.profile-img img:hover {
    border-color: #d67600;
    box-shadow: 0 0 20px orange;
    height: 90%;
    width: 90%;
    transition: all 200ms ease;
}

.social {
    background-color: rgb(196, 197, 218);
    color: rgb(31, 33, 46);
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
}

.social-link {
    color: rgb(31, 33, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgb(196, 197, 218);
    transition: all 500ms ease;
}

.social-link:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #d67600;    
    color: rgb(196, 197, 218);
    font-size: 1.5rem;
    transition: all 500ms ease;
}

.social-link h4 {
    margin: 0 0 0 5px
}

@media only screen and (max-width: 740px) {

    .sidebar {
        position: relative;
        padding: 0;
        padding-bottom: 20px;
        width: 100%;
        margin: 0 auto;
    }

    .profile-img img {
        height: 200px;
        width: 200px;
        margin: 20px auto;
        padding: 0;
        position: relative;
    }

    .profile-img img:hover {
        height: 220px;
        width: 220px;
    }

    .profile-img {
        padding: 0;
    }

    .sidebar p {
        padding: 0 50px;
    }
}